/*
FelipedelosH 2021

This is used to generate a default styles of the page
*/

/*
Nav bar configuration
*/
.navBar{
    background-color: #f47b20;
}
.navButtons{
    float: right;
}

/*
Configure a ico to the page
*/
.ico{
    height: 70%;
    width: 70%;
}

.socialIco{
    height: 60%;
    width: 60%;
    margin-top: 10%;
}

.carIco{
    height: 60%;
    width: 60%;
    margin-top: 10%;
}

.solutionIco{
    height: 40%;
    width: 40%;
}


/*
Configuration solutions barnner
*/
.mainSolutionsIcons{
    float: right;
}

/*
Videoplyer configuration
*/
.videoContainer{
    width: 100%;
    height: 100%;
}

/*
Footer configuration
*/
.footer{
    background-color: black;
}
#copyright{
   color:white;
}
