/*
FelipedelosH 2021

This is used to generate a default styles of the page
*/

/*
Nav bar configuration
*/
.navBar{
    background-color: #f47b20;
}
/*
Google form configuration
*/
.form{
    background-color:  #e7731a;
}

.googleForm{
   margin-top: 0px;
}

/*
Configure a ico to the page
*/
.ico{
    height: 70%;
    width: 70%;
}

.socialIco{
    height: 60%;
    width: 60%;
    margin-top: 10%;
    cursor: pointer;
}

.carIco{
    height: 60%;
    width: 60%;
    margin-top: 10%;
}

.solutionIco{
    height: 40%;
    width: 40%;
}



.pageTitleText{
    margin-top: 4%;
}

/*
Configuration solutions barnner
*/
.mainSolutionIcons{
    margin-top: 5%;
    margin-bottom: 3%;
}

.JPBproduct{
    width: 80%;
    cursor: pointer;
}

.JPBPrice{
    color: green;
}

/*
Videoplyer configuration
*/
.videoContainer{
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
    height: 100%;
}

.history{
    margin-top: 5%;
    margin-bottom: 5%;
}

.legend{
    margin-bottom: 5%;
}


/*
Footer configuration
*/
.footer{
    background-color: black;
    width: 100%;
    height: 50px;
}
#copyright{
   color:white;
}


/*
Seting to whatssap button
*/
.btnWhatsapp{
    z-index: 10000;
    display: inline-block;
    position: fixed;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 40px;
}

/*
Configurate a movil version
*/
@media (max-width: 767px) {

        .ico{
            width: 40%;
            margin-left: 25%;
            margin-bottom: 8%;
        }

    

 }