/*
FelipedelosH 2021

This is used to generate a default styles of the page
*/

/*
Nav bar configuration
*/
.navBar{
    background-color: #f47b20;
}


/*
Configure a ico to the page
*/
.ico{
    height: 70%;
    width: 70%;
}

.socialIco{
    height: 60%;
    width: 60%;
    margin-top: 10%;
}

.carIco{
    height: 60%;
    width: 60%;
    margin-top: 10%;
}

.solutionIco{
    height: 40%;
    width: 40%;
}


/*
Configuration solutions barnner
*/
.mainSolutionIcons{
    margin-top: 5%;
    background-color: tomato;
}



/*
Videoplyer configuration
*/
.videoContainer{
    width: 100%;
    height: 100%;
}

/*
Footer configuration
*/
.footer{
    background-color: black;
}
#copyright{
   color:white;
}


/*
Seting to whatssap button
*/
.btnWhatsapp{
    display: inline-block;
    position: fixed;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}